{% extends "base.html" %}

{% block title %}Edit Nation{% endblock %}

{% block content %}
<div style="text-align: center">
  <h1>Edit Nation</h1>
  <form action="/editnation/?nation={{ nation }}" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="mb-3">
        <label class="small-text" for="about">Description:</label>
        <textarea rows="5" cols="80" name="about" id="about">{{ nation.about }}</textarea>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Edit">
      </div>
    </div>
  </form>
  <h1>laws</h1>
  {% for law in laws %}
  <div>
    <form action="/editlaw/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ law.pk }}">
      <div class="mb-3">
        <textarea rows="3" cols="40" name="content">{{ law.text }}</textarea>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Edit">
      </div>
    </form>
    <form action="/deletelaw/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ law.pk }}">
      <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="Delete">
      </div>
    </form>
  </div>
  {% endfor %}
  <form action="/createlaw/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="nation" value="{{ nation }}">
    <div class="mb-3">
      <input type="submit" class="btn btn-primary" value="New Law">
    </div>
  </form>
</div>
{% endblock %}
