{% extends "base.html" %}

{% block title %}Edit Nation{% endblock %}

{% block content %}
<div style="text-align: center">
  <p class="big-text">Edit Nation</p>
  <form action="/editnation/?nation={{ nation }}" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="mb-3">
        <label class="small-text" for="about">Description:</label>
        <textarea rows="5" cols="80" name="about" id="about">{{ nation.about }}</textarea>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Edit">
      </div>
    </div>
  </form>
  <p class="big-text">laws</p>
  {% for law in laws %}
  <div>
    <form action="/editlaw/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ law.pk }}">
      <div class="mb-3">
        <textarea rows="3" cols="40" name="content">{{ law.text }}</textarea>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Update Law">
      </div>
    </form>
    <form action="/deletelaw/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ law.pk }}">
      <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="Delete Law">
      </div>
    </form>
  </div>
  {% endfor %}
  <form action="/createlaw/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="nation" value="{{ nation }}">
    <div class="mb-3">
      <input type="submit" class="btn btn-primary" value="Create New Law">
    </div>
  </form>
</div>
{% endblock %}
