{% extends "base.html" %}

{% block title %}Anarcho-Monarchy{% endblock %}

{% block content %}
<div style="text-align: center">
  <h1>Anarcho-Monarchy!</h1>
  {% if username %}
    <p>Welcome {{ username }}</p>
  {% else %}
    <p>if you want an account ask me or maybe I'll make a thing where you can create an account on your own if the server gets big enough idk</p>
  {% endif %}
  <nav class="medium-text">
    <a href="/players/">player list</a><br>
    <a href="/nations/">nation list</a><br>
    {% if request.user.is_authenticated %}
    {% if noaccount %}
    <a href="/createplayer/">register your Minecraft account</a><br>
    {% else %}
    <a href="/myplayers/">your players</a><br>
    {% endif %}
    <a href="/logout/">logout</a><br>
    <a href="/resetpassword/">change your password</a><br>
    {% else %}
    <a href="/login/">login</a><br>
    {% endif %}
  </nav>
</div>
{% endblock %}
