{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="text-align: center">
  <h1>Login</h1>
  <form action="/login/" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="mb-3">
        <label class="small-text" for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-control" autofocus required>
      </div>
      <div class="mb-3">
        <label class="small-text" for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control" autofocus required>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
    </div>
  </form>
</div>
{% endblock %}
