{% extends "base.html" %}

{% block title %}Nation Info{% endblock %}

{% block content %}
<div style="text-align: center">
  <p class="big-text">{{ nation.name }}</p>
  <p class="medium-text">{{ nation.about }}</p>
  <p class="small-text">owner: {{ nation.owner }}</p>
  <p class="big-text">Members</p>
  <div class="small-text">
    {% for member in members %}
    <p>{{ member }}</p>
    {% endfor %}
  </div>
  <p class="big-text">Laws</p>
  {% if laws %}
  <div class="small-text">
    {% for law in laws %}
    <p>{{ law.text }}</p>
    {% endfor %}
  </div>
  {% else %}
  <div><p class="small-text">this nation has no laws</p></div>
  {% endif %}
</div>
{% endblock %}
