{% extends "table.html" %}

{% block title %}{{ title }}{% endblock %}

{% block thead %}
<th class="small-text">Your Players</th>
<th class="small-text">Nation</th>
<th class="small-text">Edit</th>
{% endblock %}

{% block tbody %}
{% for player in list %}
    <tr>
        <td class="small-text">{{ player }}</td>
        <td class="small-text">{{ player.nation }}</td>
        <td class="small-text"><a href="/editplayer/?uuid={{ player.uuid }}">Edit</a></td>
    </tr>
{% endfor %}
{% endblock %}
